<h1>Home Page</h1>

<h2>Rules to the game!</h2>

<p>
Simple make your choice by entering the URL: localhost:4567/RPSgame/choice1/choice2
This will then display a result
Basic rules to rock paper scissors are as follows Rock beats scissors, paper beats rock, scissors beats paper
</p>
